@font-face {
    font-family: Sahel;
    src: url('../fonts/sahel/Sahel-FD.eot');
    src: url('../fonts/sahel/Sahel-FD.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel-FD.woff') format('woff'),
    url('../fonts/sahel/Sahel-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/sahel/Sahel-Bold-FD.eot');
    src: url('../fonts/sahel/Sahel-Bold-FD.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel-Bold-FD.woff') format('woff'),
    url('../fonts/sahel/Sahel-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/sahel/Sahel-Black-FD.eot');
    src: url('../fonts/sahel/Sahel-Black-FD.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel-Black-FD.woff') format('woff'),
    url('../fonts/sahel/Sahel-Black-FD.ttf') format('truetype');
    font-weight: 900;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

[v-cloak] {
    opacity: 0;
}

#smsir_widget,
#smsir_post_metabox,
#smsir_post_metabox .ui-sortable-handle,
#smsir_widget .ui-sortable-handle,
.smsir_page_content,
.smsir_page_content h1,
.smsir_page_content h2,
.smsir_page_content h3,
.smsir_page_content h4
{
    font-family: 'Sahel', sans-serif;
    direction: rtl;
}

.smsir_page_content h3 {
    text-align: center;
    margin: 20px auto;
    font-weight: 900;
    color: #5a5a5a;
}

.smsir_main_option_panel {
    background: white;
    width: 80%;
    margin: 0 auto;
    border: solid 1px #d8d8d8;
    border-radius: 5px;
    box-shadow: 0 2px 10px #d4d4d4;
    max-height: 511px;
}

.smsir_main_option_panel .smsir_navigator {
    float: right;
    width: 15%;
    text-align: center;
}

.smsir_navigator ul {
    padding: 0;
    margin: 0;
}

.smsir_navigator li {
    background: #353535;
    position: relative;
    padding: 25px 0;
    border-bottom: solid 1px gray;
    color: #a7a7a7;
    line-height: 0;
    font-weight: 800;
    margin: 0;
    cursor: pointer;
    transition: .3s;
}

.smsir_navigator li:hover {
    background: #23282d;
    color: #d3d3d3;
}

.smsir_navigator li.active {
    background: #12171d;
    color: #ffffff;
}

li.active:after {
    left: 0;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #ffffff;
    top: 50%;
    margin-top: -8px;
}

.smsir_navigator li i {
    display: block;
    font-size: 22px;
    position: relative;
    top: -18px;
}

.smsir_navigator li span {
    position: relative;
    bottom: -6px;
}

.smsir_main_option_panel .smsir_option_panel_contents {
    float: right;
    width: 85%;
    overflow: auto;
    max-height: 511px;
}

#smsir_widget .credit {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

tr[data-plugin="smsir-wordpress/smsir-wordpress.php"] {
    font-family: Sahel, sans-serif;
}

html[lang="en-US"] tr[data-plugin="smsir-wordpress/smsir-wordpress.php"] {
    direction: rtl;
    text-align: left;
}

html[lang="en-US"] tr[data-plugin="smsir-wordpress/smsir-wordpress.php"] th.check-column {
    border-left: 4px solid #4CAF50;
}
