@font-face {
    font-family: Sahel;
    src: url('../fonts/sahel/Sahel-FD.eot');
    src: url('../fonts/sahel/Sahel-FD.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel-FD.woff') format('woff'),
    url('../fonts/sahel/Sahel-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/sahel/Sahel-Bold-FD.eot');
    src: url('../fonts/sahel/Sahel-Bold-FD.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel-Bold-FD.woff') format('woff'),
    url('../fonts/sahel/Sahel-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/sahel/Sahel-Black-FD.eot');
    src: url('../fonts/sahel/Sahel-Black-FD.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sahel/Sahel-Black-FD.woff') format('woff'),
    url('../fonts/sahel/Sahel-Black-FD.ttf') format('truetype');
    font-weight: 900;
}

[v-cloak] {
    opacity: 0;
}

#smsir_widget,
#smsir_post_metabox,
#smsir_post_metabox .ui-sortable-handle,
#smsir_widget .ui-sortable-handle,
.smsir_page_content,
.smsir_page_content h1,
.smsir_page_content h2,
.smsir_page_content h3,
.smsir_page_content h4
{
    font-family: 'Sahel', sans-serif;
    direction: rtl;
}

#smsir_widget .credit {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

tr[data-plugin="smsir-wordpress/smsir-wordpress.php"] {
    font-family: Sahel, sans-serif;
}

html[lang="en-US"] tr[data-plugin="smsir-wordpress/smsir-wordpress.php"] {
    direction: rtl;
    text-align: left;
}

html[lang="en-US"] tr[data-plugin="smsir-wordpress/smsir-wordpress.php"] th.check-column {
    border-left: 4px solid #4CAF50;
}
