@font-face {
  font-family: Samim;
  src: url('../fonts/samim/Samim.eot');
  src: url('../fonts/samim/Samim.eot?#iefix') format('embedded-opentype'),
  url('../fonts/samim/Samim.woff') format('woff'),
  url('../fonts/samim/Samim.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Samim;
  src: url('../fonts/samim/Samim-Bold.eot');
  src: url('../fonts/samim/Samim-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/samim/Samim-Bold.woff') format('woff'),
  url('../fonts/samim/Samim-Bold.ttf') format('truetype');
  font-weight: bold;
}

$samim: "Samim", sans-serif;