tr[data-plugin="smsir-wordpress/smsir-wordpress.php"] {
  font-family: $samim;
}

html[lang="en-US"] tr[data-plugin="smsir-wordpress/smsir-wordpress.php"] {
  direction: rtl;
  text-align: left;
}

html[lang="en-US"] tr[data-plugin="smsir-wordpress/smsir-wordpress.php"] th.check-column {
  border-left: 4px solid #4CAF50;
}